@model IEnumerable<EnlaceNoivas.Models.Provider>
@{
    ViewBag.Title = "Pesquisando fornecedores...";
    ViewBag.Controller = "Search";
    ViewBag.Action = "SearchProvider";
}

@foreach (var provider in Model)
{
    <div class="row" id="line">
        <a class="link-to-provider" href="/Provider/@provider.Name.Replace(" ", "_")">
            <div class="col-lg-1"></div>

            <div class="col-lg-2" id="bg-image-line">
                <div id="image-line">
                    <img width="115" height="105" src="~/Content/Images/@provider.Image" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row" id="bg-text-line">
                    <div id="text-line">
                        <h3>@provider.Name</h3>
                        <p>@provider.City</p>
                        <p>@provider.Type</p>
                    </div>
                </div>

            </div>
        </a>
</div>
}
<div class="row" id="line">
        <div class="col-lg-2"></div>    
        <div class="col-lg-8">
            <div class="btn-toolbar">
                <div class="btn-group">
                    @for (int page = 1; page <= ViewBag.ListSize; page++ ){
      
                        @Html.ActionLink(page.ToString(), "SearchProvider", "Search", new { page = page, searched = ViewBag.Searched }, new { @class = "btn btn-default" });
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
</div>

