@{
    ViewBag.Title = "Não encontramos nada :/";
    ViewBag.Controller = "Search";
    ViewBag.Action = "SearchNotFound";
}

<div class="alert alert-warning" id="alert">
    <div class="row">
        <div class="col-lg-3">
            <span class="glyphicon glyphicon-exclamation-sign" id="icon"></span>
        </div>
        <div class="col-lg-9">
            <h3>A pesquisa não obteve resultados :(</h3>
            <p>Desculpe, mas não foi possível encontrar nada sobre o que você esta procurando, tente de novo.</p>
        </div>
    </div>
</div>
